/* Variables */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;

$font-weight-normal: 400; 
$font-weight-bold: 700; 

$line-height-14: 14px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-22: 22px;

$color-575a5a: #575a5a;
$color-7E7E7E: #7E7E7E;
$color-2EBCA1: #2EBCA1;
$color-1a99aa: #1a99aa;
$color-333: #333333;
$color-fff: #ffffff;
$color-fff: #ffffff;
/* Variables end */

/* Mixins */
@mixin border-radius($arc) {
	-moz-border-radius: $arc;
	-webkit-border-radius: $arc;
	-ms-border-radius: $arc;
	border-radius: $arc;
}
@mixin linear-gradient($from, $to){
	background-image: -moz-linear-gradient(top,$from,$to);
	background-image: -o-linear-gradient(top,$from,$to);
	background-image: -webkit-gradient(linear,0 0,0 100%,from($from),to($to));
	background-image: -webkit-linear-gradient(top,$from,$to);
	background-image: linear-gradient($from,$to);
}

/*Mixins end */

/* Embrace Placeholders */
	%link-12-n-16-underline{
		font-size: $font-size-12;
		font-weight: $font-weight-normal;
		color: $color-1a99aa;
		line-height: $line-height-16;
		text-decoration: underline !important;
		cursor: pointer;
	}
	%link-12-b-16{
		font-size: $font-size-12;
		font-weight: $font-weight-bold;
		color: $color-1a99aa;
		line-height: $line-height-16;
		text-decoration: none !important;
	}
	%ellipsis{
	    overflow: hidden;
			white-space: nowrap;
			-ms-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			-moz-text-overflow: ellipsis;
			text-overflow: ellipsis;
	}
	%-btn{
	  display: inline-block;
	  font-size: $font-size-16;
  	font-weight: $font-weight-bold;
  	padding: 6px 12px;
	}
/* Embrace Placeholders  end */
