@mixin font($size: false, $weight: false, $colour: false, $lh: false) {
	@if $size {
		font-size: $size;
	}

	@if $weight {
		font-weight: $weight;
	}

	@if $colour {
		color: $colour;
	}

	@if $lh {
		line-height: $lh;
	}
}

@mixin border-radius($arc) {
	-moz-border-radius: $arc;
	-webkit-border-radius: $arc;
	-ms-border-radius: $arc;
	border-radius: $arc;
}

@mixin linear-gradient($start, $end) {
	background-image: -moz-linear-gradient(top,$start,$end);
	background-image: -o-linear-gradient(top,$start,$end);
	background-image: -webkit-gradient(linear,0 0,0 100%,from($start),to($end));
	background-image: -webkit-linear-gradient(top,$start,$end);
	background-image: linear-gradient($start,$end);
}

@mixin transform-rotate($scale) {
	-moz-transform: rotate($scale);
	-ms-transform: rotate($scale);
	-o-transform: rotate($scale);
	-webkit-transform: rotate($scale);
	transform: rotate($scale);
}

@mixin translateX($scale) {
	-moz-transform: translateX($scale);
	-ms-transform: translateX($scale);
	-o-transform: translateX($scale);
	-webkit-transform: translateX($scale);
	transform: translateX($scale);
}

@mixin transform-translate-y($scale) {
	-moz-transform: translateY($scale);
	-ms-transform: translateY($scale);
	-o-transform: translateY($scale);
	-webkit-transform: translateY($scale);
	transform: translateY($scale);
}

@mixin transition($property, $duration, $timing, $delay) {
	-moz-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	-webkit-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;
}
